 {
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": ['off', { extensions: ['.jsx'] }],
    'react/forbid-prop-types': ['off', { forbid: ['any', 'array', 'object'] }],
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ]
}
